<div class="container">
  <hr>
  <h3><%= @word.word %></h3>
  <hr>
  <% @word.definitions.each do |definition| %>
    <h5><%= definition %></h5>
  <% end %>
  <hr>
  <form  action="/definitions/<%= @word.id %>" method="post">
    <label for="definition">Add Definition:</label>
    <input id="definition" type="text" name="definition">
    <button type="submit" name="button">Add Definition</button>
  </form>
  <a href="/">
  <button type="button" name="button">
    Home
  </button>
</a>
</div>
